<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <title>List of atms</title>
</head>
<body>
<tr th:if="${atms.empty}">
  <td colspan="2">Did not find any atms for <span th:text="${city.name}"></span></td>
</tr>
<tr th:if="${!atms.empty}">
  <h3>List of atms in <span th:text="${city.name}"></span></h3>

  <table border="1">
    <tr>
      <th>Number</th>
      <th>Address</th>
      <th>Location (lat, lng)</th>
    </tr>
    <tr th:each="atm, custStat : ${atms}">
      <td th:text="${custStat.count}">1</td>
      <p th:each="address : ${atm.address}">
      <td>
        <span th:text="${address.street}">Street</span>
        <span th:text="${address.housenumber}">HouseNumber</span>
      </td>
      <td>
        <span th:text="${address.geoLocation.lat}">lat</span>
        <span th:text="${address.geoLocation.lng}">lng</span>
      </td>
      </p>
    </tr>
  </table>
</tr>
</body>
</html>
