<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>City form</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form name='f' th:action="@{/atms}" th:object="${city}" method='GET'>
  <table>
    <tr>
      <td>Select City:</td>
      <td>
        <select th:field="*{name}">
          <option th:each="city: ${cities}"
                  th:value="${city}"
                  th:text="${city}"/>
        </select>

      </td>
    </tr>

    <tr>
      <td><input name="submit" type="submit" value="submit"/></td>
    </tr>
  </table>
</form>
</body>
</html>